<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tourneywatch.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> TourneyWatch </h3>
    <ul>
    </ul>
    <p>Tournament manager for Overwatch that seeds individual players in to evenly matched teams. TourneyWatch also allows all users, including spectators, to follow along through tournament brackets, and team roster listings. Users can also view live games via Twitch integrations, and watch highlights uploaded by the manager.
    </p>
    <a class="project-link" href="https://github.com/Mochirii/TourneyWatch">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/chatty.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Chatty </h3>
    <ul>
    </ul>
    <p>Chatty is a client-side SPA (single-page app) built with ReactJS. It allows users to communicate with each other without having to register accounts.</p>
    <a class="project-link" href="https://github.com/Mochirii/chatty-app">Check it out</a>
  </div>
</div>
